@use "variables" as v;

/*----------------------------------------------------HEADER SASS*/
header {
    @extend %grid;
    grid-template-columns: repeat(5, 1fr);
    /* grid-template-areas: "logo ul"; */
    background-color: v.$gris;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 50px 0 50px 0;

    .col-header2 {
        grid-column: 2/3;

        .logo {
            height: auto;
            width: 10vw;
        }
    }

    .col-header4 {
        grid-column: 4/5;

        .barra {
            display: flex;
            gap: 30px;

            li {
                list-style: none;

                a {
                    color: v.$azul;
                }

                a:hover {
                    color: v.$naranja;
                }
            }

            li:nth-child(4) {
                width: 160px;
            }
        }
    }

    @include v.tablet {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;

        .col-header2 {
            .logo {
                width: 30vw;
            }
        }

        .col-header4 {
            .barra li:nth-child(4) {
                width: 160px;
            }
        }
    }

    @include v.mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;

        .col-header2 {
            .logo {
                width: 30vw;
            }
        }

        .col-header4 {
            .barra li:nth-child(4) {
                width: 110px;
            }

            .barra {
                gap: 15px;
            }
        }
    }
}