// sass --watch sass/main.scss styles/styles.css

@use "contacto";
@use "empresa";
@use "footer";
@use "header";
@use "index";
@use "productos";
@use "trabajos";
@use "variables" as v;

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*---------------aspectos generales que comparte toda la web*/
body {
    background-color: v.$azul;
} 

h1 {
    font-family: v.$fuente-titulo;
    color: v.$blanco;
    font-size: 32px;
}

h2 {
    font-size: 1.5rem;
}

p {
    font-family: v.$fuente-texto;
    font-size: 1rem;
    color: v.$blanco;
}

h2,
a {
    font-family: v.$fuente-texto;
    font-weight: bold;
}

h5 {
    font-family: v.$fuente-texto;
}

a {
    color: v.$blanco;
    text-decoration: none;
}

.wpp {
    position: fixed;
    height: 7vh;
    width: auto;
    bottom: 200px;
    right: 50px;
}

@include v.tablet {
    .wpp{
        z-index: 10;
        height: 6vh;
    }
    h1 {
        font-size: 24px;
    }
}


@include v.mobile {
    h1 {
        font-size: 14px;
    }

    h2, h5 {
        font-size: 12px;
    }

    p,
    a, button {
        font-size: 10px;
    }
    .wpp{
        z-index: 10;
        height: 5vh;
    }
}