// sass --watch sass/main.scss styles/styles.css

@use "contacto";
@use "empresa";
@use "footer";
@use "header";
@use "index";
@use "productos";
@use "trabajos";
@use "variables" as v;

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: v.$azul;
}


/* header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(228, 228, 228);
    width: 100vw;
    height: 130px;
    position: sticky;
    top: 0;
} */






// header {
//     display: grid;
//     grid-template-columns: repeat(5, 1fr);
//     /* grid-template-areas: "logo ul"; */
//     justify-items: center;
//     align-items: center;
//     background-color: rgb(228, 228, 228);
//     width: 100vw;
//     height: 130px;
//     position: sticky;
//     top: 0;
//     z-index: 1000;
// }
// .logo {
//     height: auto;
//     width: 10vw;
// }

// .col-header2 {
//     grid-column: 2/3;
// }

// .col-header3 {
//     grid-column: 3/4;
// }

// .col-header4 {
//     grid-column: 4/5;
// }

// .col-header3 p {
//     color: rgb(5, 39, 79);
//     width: 420px;
// }

// .barra {
//     display: flex;
//     gap: 30px;
// }

// .barra a {
//     color: rgb(5, 39, 79);
// }

// .barra a:hover {
//     color: rgb(227, 129, 0);
// }

// .barra li:nth-child(4) {
//     width: 160px;
// }

// footer {
//     display: grid;
//     grid-template-columns: repeat(5, 1fr);
//     justify-items: center;
//     align-items: center;
//     background-color: rgb(228, 228, 228);
//     height: 130px;
// }

// .redesPadre {
//     display: flex;
//     gap: 10px;
// }

// .redesPadre img {
//     height: 2vw;
//     width: 2vw;
// }

h1 {
    font-family: Libre Baskerville, serif;
    color: white;
    font-size: 32px;
}

h2 {
    font-size: 1.5rem;
}

p {
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    color: white;
}

h2,
a {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
}

label,
input,
textarea,
button {
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
}

h5 {
    font-family: Montserrat, sans-serif;
}

.proveedores {
    background-color: white;
}


li {
    list-style: none;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.trabajos {
    height: auto;
    width: 20vw;
}

.wpp {
    position: fixed;
    height: 7vh;
    width: auto;
    bottom: 200px;
    right: 50px;
}

/* --------------------------------------------------------------SECCION A - home*/
.seccion-a {
    height: 60vh;
    /* width: 100vw; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(9, 1fr);
    justify-items: center;
    align-items: center;
}

.seccion-a h1 {
    grid-column: 2/5;
    grid-row: 2/3;
}

.subtit {
    grid-column: 2/5;
    grid-row: 3/4;
}

.grupo1-img {
    grid-column: 2/3;
    grid-row: 5/6;
}

.grupo1-p {
    grid-column: 2/3;
    grid-row: 6/7;
    text-align: center;
    width: 150px;

}

.grupo2-img {
    grid-column: 3/4;
    grid-row: 5/6;
}

.grupo2-p {
    grid-column: 3/4;
    grid-row: 6/7;
    text-align: center;
    width: 150px;
}

.grupo3-img {
    grid-column: 4/5;
    grid-row: 5/6;
}

.grupo3-p {
    grid-column: 4/5;
    grid-row: 6/7;
    text-align: center;
    width: 150px;

}

.cta {
    grid-column: 3/4;
    grid-row: 8/9;
    display: block;
    height: 45px;
    width: 250px;
    background-color: rgb(227, 129, 0);
    border-radius: 10px;
    padding: 10px 50px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    align-content: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: color 0.5s ease;
    z-index: 1;
}

.cta::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 0%;
    left: -10%;
    bottom: 0;
    background: white;
    transition: height 1.2s ease;
    z-index: -1;
    border-radius: 50% 50% 0 0;
}

.cta:hover::before {
    height: 180%;
}

.cta:hover {
    color: rgb(227, 129, 0);
}

/* -------------------------------------------------------------------SECCION B - home*/
.seccion-b {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: 40vh;
    justify-items: center;
    align-items: center;
    row-gap: 20px;
}

.seccion-b h2 {
    position: relative;
    color: rgb(5, 39, 79);
    grid-column: 3/4;
    grid-row: 2/3;
}

.seccion-b h2::after {
    content: "";
    position: absolute;
    left: 30%;
    bottom: -8px;
    width: 40%;
    height: 3px;
    background-color: rgb(5, 39, 79);
    ;
    border-radius: 2px;
}

.img1 {
    height: 90px;
    grid-column: 2/3;
    grid-row: 4/5;
}

.img2 {
    height: 90px;
    grid-column: 2/3;
    grid-row: 5/6;
}

.img3 {
    height: 90px;
    grid-column: 3/4;
    grid-row: 4/5;
}

.img4 {
    height: 90px;
    grid-column: 3/4;
    grid-row: 5/6;
}

.img5 {
    height: 90px;
    grid-column: 4/5;
    grid-row: 4/5;
}

.img6 {
    height: 90px;
    grid-column: 4/5;
    grid-row: 5/6;
}

/* -------------------------------------------------------------------SECCION C - home*/
.seccion-c {
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    justify-items: center;
    align-items: center;
    column-gap: 50px;
    row-gap: 20px;
    text-align: justify;
}

.serv {
    color: white;
    position: relative;
    grid-column: 3/4;
    grid-row: 2/3;
}

.serv::after {
    content: "";
    position: absolute;
    left: 30%;
    bottom: -8px;
    width: 40%;
    height: 3px;
    background-color: white;
    border-radius: 2px;
}

/* ----------------venta----------- */
.h2-venta {
    color: white;
    grid-column: 2/3;
    grid-row: 3/4;
}

.p-venta {
    border-top: 3px solid rgb(227, 129, 0);
    padding-top: 50px;
    grid-column: 2/3;
    grid-row: 4/5;
}

.img-venta {
    grid-column: 2/3;
    grid-row: 5/6;
}

/* ----------------colocacion----------- */
.h2-coloc {
    color: white;
    grid-column: 3/4;
    grid-row: 3/4;
}

.p-coloc {
    border-top: 3px solid rgb(227, 129, 0);
    padding-top: 50px;
    grid-column: 3/4;
    grid-row: 4/5;
}

.img-coloc {
    grid-column: 3/4;
    grid-row: 5/6;
}

/* -----------------asesoramiento---------- */
.h2-ases {
    color: white;
    grid-column: 4/5;
    grid-row: 3/4;
}

.p-ases {
    border-top: 3px solid rgb(227, 129, 0);
    padding-top: 50px;
    grid-column: 4/5;
    grid-row: 4/5;
}

.img-ases {
    grid-column: 4/5;
    grid-row: 5/6;
}


/* --------------------------------------------------- EMPRESA */
.empresa {
    background-color: white;
    height: 60vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    /* justify-items: center; */
    align-items: center;
    column-gap: 50px;
}

.empresa h1 {
    position: relative;
    display: inline-block;
    color: rgb(5, 39, 79);
    grid-column: 2/3;
    grid-row: 2/3;
    /* border-bottom: 3px solid rgb(227, 129, 0); */
}

.empresa h1::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 20%;
    height: 3px;
    background-color: rgb(227, 129, 0);
    border-radius: 2px;
}

.empresa p {
    color: rgb(49, 49, 49);
    width: 380px;
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: justify;
    border-bottom: 3px solid rgb(228, 228, 228);
    padding-bottom: 60px;
}

.empresa img {
    width: 700px;
    height: auto;
    grid-column: 3/5;
    grid-row: 2/5;
    /* transition: 2s all; */
}

.empresa1 {
    height: 60vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-items: center;
    align-items: start;
    column-gap: 20px;
}

.empresa1 h2 {
    color: white;
}

.titulo {
    grid-column: 3/4;
    grid-row: 2/3;
    color: white;
}

.celda1 {
    width: 300px;
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: center;
    border-right: 3px solid rgb(103, 103, 103);
    padding-right: 20px;
}

.celda1 img,
.celda2 img,
.celda3 img,
.celda1 h2,
.celda2 h2,
.celda3 h2 {
    margin-bottom: 20px;
}

.celda2 {
    width: 400px;
    grid-column: 3/4;
    grid-row: 3/4;
    text-align: center;
}

.celda3 {
    width: 300px;
    grid-column: 4/5;
    grid-row: 3/4;
    text-align: center;
    border-left: 3px solid rgb(103, 103, 103);
    padding-left: 20px;
}

.empresa2 {
    background-color: white;
    height: 60vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    /* justify-items: center; */
    align-items: center;
    column-gap: 50px;
}

.empresa2 h2 {
    position: relative;
    display: inline-block;
    color: rgb(5, 39, 79);
    grid-column: 2/3;
    grid-row: 2/3;
    /* border-bottom: 3px solid rgb(227, 129, 0); */
}

.empresa2 h2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 20%;
    height: 3px;
    background-color: rgb(227, 129, 0);
    border-radius: 2px;
}

.empresa2 p {
    color: rgb(49, 49, 49);
    width: 380px;
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: justify;
    border-bottom: 3px solid rgb(228, 228, 228);
    padding-bottom: 60px;
}

.empresa2 img {
    width: 700px;
    height: auto;
    grid-column: 3/5;
    grid-row: 2/5;
}

.empresa3 {
    background-color: rgb(237, 237, 237);
    height: 110vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-items: center;
    align-items: start;
    column-gap: 20px;
}

.empresa3 h2 {
    grid-column: 3/4;
    grid-row: 2/3;
    color: rgb(5, 39, 79);
}

.empresa3 p {
    grid-column: 2/5;
    grid-row: 3/4;
    color: rgb(49, 49, 49);
}

.empresa3 video {
    height: 690px;
    width: auto;
}

.vid1 {
    grid-column: 2/3;
    grid-row: 4/5;
}

.vid2 {
    grid-column: 3/4;
    grid-row: 4/5;
}

.vid3 {
    grid-column: 4/5;
    grid-row: 4/5;
}

/* ----------------------------------------------TRABAJOS REALIZADOS */

.card {
    width: 30rem;
    border: none;
    border-radius: 12px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card p {
    color: rgb(49, 49, 49);
}

.contenedor {
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
    height: 230vh;
    gap: 30px;
}

.contenedor h1 {
    position: relative;
    grid-column: 2/3;
    grid-row: 2/3;
    color: rgb(5, 39, 79);
}

.contenedor h1::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 20%;
    height: 3px;
    background-color: rgb(227, 129, 0);
    border-radius: 2px;
}

.position-relative p {
    color: white;
}

.etiqueta-localidad {
    position: absolute;
    top: 30px;
    left: 20px;
    background-color: rgb(5, 39, 79);
    padding: 6px 40px;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 1.2rem;
    z-index: 10;
    /* sobre la imagen */
}

.p1 {
    grid-column: 2/3;
    grid-row: 3/4;
    color: rgb(49, 49, 49);
}

.p2 {
    grid-column: 2/4;
    grid-row: 4/5;
    color: rgb(49, 49, 49);
}

.card-img-top {
    width: 100%;
    height: 400px;
    object-fit: cover;
    /*hace q no se deforme la imagen*/
    padding: 20px;
}

.card1 {
    grid-column: 2/3;
    grid-row: 5/6;
}

.card2 {
    grid-column: 3/4;
    grid-row: 5/6;
}

.card3 {
    grid-column: 2/3;
    grid-row: 6/7;
}

.card4 {
    grid-column: 3/4;
    grid-row: 6/7;
}

.card5 {
    grid-column: 2/3;
    grid-row: 7/8;
}

.btn {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(227, 129, 0);
    color: rgb(227, 129, 0);
}

.btn:hover {
    background-color: rgb(227, 129, 0);
    color: rgb(255, 255, 255);
    border-color: rgb(227, 129, 0);
}

/* -----------------------------------------------CONTACTO */

.contacto1 {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 70vh;
    column-gap: 50px;
    row-gap: 30px;
}

.contacto1 h1 {
    position: relative;
    color: rgb(5, 39, 79);
    grid-column: 2/3;
    grid-row: 2/3;
}

.contacto1 h1::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 20%;
    height: 3px;
    background-color: rgb(227, 129, 0);
    border-radius: 2px;
}

.contacto1 p {
    color: rgb(49, 49, 49);
    grid-column: 2/3;
    grid-row: 3/4;
}

.contacto1 iframe {
    grid-column: 3/4;
    grid-row: 4/5;
    width: 100%;
    height: 100%;
    border: none;

}

.contacto1 form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column: 2/3;
    grid-row: 4/5;
    row-gap: 20px;
    align-items: center;
}

.form_nombre {
    grid-column: 1/2;
    grid-row: 1/2;
}

.input_nombre {
    grid-column: 2/4;
    grid-row: 1/2;
}

.form_apellido {
    grid-column: 1/2;
    grid-row: 2/3;
}

.input_apellido {
    grid-column: 2/4;
    grid-row: 2/3;
}

.form_celular {
    grid-column: 1/2;
    grid-row: 3/4;
}

.input_celular {
    grid-column: 2/4;
    grid-row: 3/4;
}

.form_mail {
    grid-column: 1/2;
    grid-row: 4/5;
}

.input_mail {
    grid-column: 2/4;
    grid-row: 4/5;
}

.form_msj {
    grid-column: 1/2;
    grid-row: 5/6;
}

.input_msj {
    grid-column: 2/4;
    grid-row: 5/6;
}

.enviar {
    grid-column: 1/2;
    grid-row: 6/7;
    display: block;
    background-color: rgb(227, 129, 0);
    border-radius: 10px;
    border: none;
    padding: 10px 50px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    align-content: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: color 0.5s ease;
    z-index: 1;
    font-weight: bold;
}

.enviar::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 0%;
    left: -10%;
    bottom: 0;
    background: rgb(5, 39, 79);
    transition: height 1.2s ease;
    z-index: -1;
    border-radius: 50% 50% 0 0;
}

.enviar:hover::before {
    height: 180%;
}

.input_apellido,
.input_celular,
.input_mail,
.input_msj,
.input_nombre {
    border: none;
    border-bottom: 1px solid #b3b3b3;
    outline: none;
    background: transparent;
    padding: 5px 0;
}

/* --------------------------------------------Contacto segunda seccion */
.contacto2 {
    height: 60vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
    align-items: start;
    column-gap: 40px;
}

.contacto2 h2 {
    color: white;
}

.contacto2_titulo {
    grid-column: 3/4;
    grid-row: 2/3;
    color: white;
    text-align: center;
}

.contacto2 article {
    min-width: 400px;
}

.contacto2_celda1 {
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: center;
    border-right: 3px solid rgb(103, 103, 103);
    padding-right: 20px;
}

.contacto2_celda1 img,
.contacto2_celda2 img,
.contacto2_celda3 img,
.contacto2_celda1 h2,
.contacto2_celda2 h2,
.contacto2_celda3 h2 {
    margin-bottom: 20px;
}

.contacto2_celda2 {
    grid-column: 3/4;
    grid-row: 3/4;
    text-align: center;
    border-right: 3px solid rgb(103, 103, 103);
    padding-right: 20px;
}

.contacto2_celda3 {
    grid-column: 4/5;
    grid-row: 3/4;
    text-align: center;
}

.contacto2_celda1 p,
.contacto2_celda2 p,
.contacto2_celda3 p {
    margin-bottom: 10px;
}

/* ---------------------------------------------------------------------PRODUCTOS */
.portada {
    height: 60vh;
    width: 100%;
    /* margin-top: 0%; */
    background: linear-gradient(to right, rgb(255, 255, 255)35%, rgba(255, 255, 255, 0.9)40%, rgba(255, 255, 255, 0.5)50%, transparent 65%), url(../assets/empresa/negocio5.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: 100% 0%; */
    display: grid;
    grid-template-columns: 20% 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
}

.portada h1 {
    position: relative;
    grid-column: 2/3;
    grid-row: 2/3;
    color: rgb(5, 39, 79);
}

.portada h1::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 20%;
    height: 3px;
    background-color: rgb(227, 129, 0);
    border-radius: 2px;
}

.portada p {
    grid-column: 2/3;
    grid-row: 3/4;
    color: rgb(49, 49, 49);
}

.contenedor2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 130vh;
    gap: 20px;
}

.contenedor2 h5 {
    color: rgb(49, 49, 49);
}

.carta1 {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 22rem;
}

.carta2 {
    grid-column: 3/4;
    grid-row: 2/3;
    width: 22rem;
}

.carta3 {
    grid-column: 4/5;
    grid-row: 2/3;
    width: 22rem;
}

.carta4 {
    grid-column: 2/3;
    grid-row: 3/4;
    width: 22rem;
}

.carta5 {
    grid-column: 3/4;
    grid-row: 3/4;
    width: 22rem;
}

.carta6 {
    grid-column: 4/5;
    grid-row: 3/4;
    width: 22rem;
}


/* --------------------------------------------------------------------------------------------------------TABLET */

@media (min-width: 480px) and (max-width: 960px) {
    // header {
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    //     gap: 20px;
    // }

    // footer {
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    //     gap: 20px;
    //     height: 250px;
    // }

    // .logo {
    //     width: 30vw;
    // }
    .wpp{
        z-index: 10;
        height: 6vh;
    }
    h1 {
        font-size: 16px;
    }

    h2 {
        font-size: 14px;
    }

    p,
    a, button, label, input {
        font-size: 12px;
    }

    // .barra li:nth-child(4) {
    //     width: 120px;
    // }

    // .col-header3 p {
    //     width: 300px;
    // }


    /* ------------------------------------Home */
    .seccion-a h1 {
        grid-column: 2/5;
    }

    .subtit {
        grid-column: 2/5;
    }

    .grupo1-img,
    .grupo2-img,
    .grupo3-img {
        height: 50px;
    }

    .grupo1-p,
    .grupo2-p,
    .grupo3-p {
        width: 70px;
    }

    .seccion-b {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(7, 1fr);
        column-gap: 30px;
    }

    .seccion-b h2 {
        grid-column: 2/4;
    }

    .img1,
    .img2,
    .img3,
    .img4,
    .img5,
    .img6 {
        height: 50px;
    }

    .img1 {
        grid-column: 2/3;
    }

    .img2 {
        grid-column: 3/4;
        grid-row: 4/5;
    }

    .img3 {
        grid-column: 3/4;
        grid-row: 5/6;
    }

    .img4 {
        grid-column: 2/3;
        grid-row: 5/6;
    }

    .img5 {
        grid-column: 2/3;
        grid-row: 6/7;
    }

    .img6 {
        grid-column: 3/4;
        grid-row: 6/7;
    }

    .seccion-c {
        height: 180vh;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(12, 1fr);
        row-gap: 50px;
    }

    .seccion-c h2 {
        grid-column: 2/3;
    }

    .p-venta {
        padding-top: 20px;
    }

    .h2-coloc {
        grid-column: 2/3;
        grid-row: 6/7;
    }

    .p-coloc {
        padding-top: 20px;
        grid-column: 2/3;
        grid-row: 7/8;
    }

    .img-coloc {
        grid-column: 2/3;
        grid-row: 8/9;
    }

    .h2-ases {
        grid-column: 2/3;
        grid-row: 9/10;
    }

    .p-ases {
        padding-top: 20px;
        grid-column: 2/3;
        grid-row: 10/11;
    }

    .img-ases {
        grid-column: 2/3;
        grid-row: 11/12;
    }

    /* -------------------------------seccion empresa */
    .empresa {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }

    .empresa img {
        width: 350px;
        grid-column: 2/3;
        grid-row: 5/6;
    }

    .empresa1 {
        height: 80vh;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, 1fr);
        row-gap: 30px;
    }

    .titulo {
        grid-column: 2/3;
    }

    .celda1 {
        border-right: none;
        padding-right: 0;
        padding-bottom: 20px;
        border-bottom: 3px solid rgb(103, 103, 103);
    }

    .celda2 {
        grid-column: 2/3;
        grid-row: 4/5;
    }

    .celda3 {
        grid-column: 2/3;
        grid-row: 5/6;
        border-left: none;
        padding-left: 0;
        padding-top: 20px;
        border-top: 3px solid rgb(103, 103, 103);
    }

    .empresa2 {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }

    .empresa2 img {
        width: 350px;
        grid-column: 2/3;
        grid-row: 5/6;
    }

    .empresa3 {
        height: 250vh;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(7, 1fr);
    }

    .empresa3 h2 {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .empresa3 p {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .empresa3 video {
        height: auto;
        width: 350px;
        margin-bottom: 20px;
    }

    .vid1 {
        grid-column: 2/3;
        grid-row: 4/5;
    }

    .vid2 {
        grid-column: 2/3;
        grid-row: 5/6;
    }

    .vid3 {
        grid-column: 2/3;
        grid-row: 6/7;
    }

    /* -----------------------------seccion productos */

    .portada {
        background-position: center;
    }

    .contenedor2 {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
        height: 200vh;
    }

    .carta1,
    .carta2,
    .carta3,
    .carta4,
    .carta5,
    .carta6 {
        width: 20rem;
    }

    .carta3 {
        grid-column: 2/3;
        grid-row: 4/5;
    }

    .carta6 {
        grid-column: 3/4;
        grid-row: 4/5;
    }

    /* ----------------------------seccion trabajos */
    .contenedor {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(10, 1fr);
        height: 350vh;
    }

    .contenedor p {
        grid-column: 2/3;
    }

    .card2 {
        grid-column: 2/3;
        grid-row: 8/9;
    }

    .card4 {
        grid-column: 2/3;
        grid-row: 9/10;
    }

    /* ---------------------------seccion contactos */

.contacto1 {
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: repeat(6, 1fr);
    height: 80vh;
    column-gap: 0px;
}
.contacto1 p {
    /* color: rgb(49, 49, 49); */
    grid-column: 2/3;
    grid-row: 3/4;
}

.contacto1 iframe {
    grid-column: 2/3;
    grid-row: 5/6;
}
    .contacto2 {
        height: 100vh;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, 1fr);
        column-gap: 0px;
        row-gap: 30px;
    }

    .contacto2_titulo {
        grid-column: 2/3;
    }

    .contacto2 article {
        min-width: 300px;
    }

    .contacto2_celda1 {
        grid-column: 2/3;
        grid-row: 3/4;
        border-right: none;
        padding-right: 0;
    }

    .contacto2_celda2 {
        grid-column: 2/3;
        grid-row: 4/5;
        border-right: none;
        border-bottom: 3px solid rgb(103, 103, 103);
        border-top: 3px solid rgb(103, 103, 103);
        padding-right: 0;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .contacto2_celda3 {
        grid-column: 2/3;
        grid-row: 5/6;
    }
}



/* -------------------------------------------------------------------------------------------------------MOBILE */
@media (min-width: 300px) and (max-width: 479px) {
    // header {
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    //     gap: 20px;
    // }

    // footer {
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    //     align-items: center;
    //     height: 170px;
    //     row-gap: 20px;
    // }

    // .logo {
    //     width: 30vw;
    // }

    h1 {
        font-size: 14px;
    }

    h2, h5 {
        font-size: 12px;
    }

    p,
    a, button, label, input {
        font-size: 10px;
    }
    .wpp{
        z-index: 10;
        height: 5vh;
    }

    // .barra li:nth-child(4) {
    //     width: 100px;
    // }

    // .barra{
    //     gap: 15px;
    // }

    .seccion-a {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat();
        text-align: center;
        height: 40vh;
        row-gap: 20px;
    }

    .seccion-a h1 {
        grid-column: 2/4;
    }

    .subtit {
        grid-column: 2/4;
    }

    .grupo1-img,
    .grupo2-img,
    .grupo3-img {
        height: 30px;
    }

    .grupo1-p,
    .grupo2-p,
    .grupo3-p {
        width: 150px;
    }

    .grupo1-img {
        grid-column: 2/3;
    }

    .grupo1-p {
        grid-column: 3/4;
        grid-row: 5/6;
    }

    .grupo2-img {
        grid-column: 2/3;
        grid-row: 6/7;
    }

    .grupo3-img {
        grid-column: 2/3;
        grid-row: 7/8;
    }

    .grupo3-p {
        grid-column: 3/4;
        grid-row: 7/8;
    }

    .cta {
        grid-column: 2/4;
        height: 30px;
        width: 200px;
        text-align: center;
    }

    .seccion-b {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(7, 1fr);
        column-gap: 30px;
    }

    .seccion-b h2 {
        grid-column: 2/4;
    }

    .img1,
    .img2,
    .img3,
    .img4,
    .img5,
    .img6 {
        height: 40px;
    }

    .img1 {
        grid-column: 2/3;
    }

    .img2 {
        grid-column: 3/4;
        grid-row: 4/5;
    }

    .img3 {
        grid-column: 3/4;
        grid-row: 5/6;
    }

    .img4 {
        grid-column: 2/3;
        grid-row: 5/6;
    }

    .img5 {
        grid-column: 2/3;
        grid-row: 6/7;
    }

    .img6 {
        grid-column: 3/4;
        grid-row: 6/7;
    }

    .seccion-c {
        height: 130vh;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(12, 1fr);
        row-gap: 20px;
    }

    .seccion-c h2 {
        grid-column: 2/3;
    }

    .p-venta {
        padding-top: 20px;
    }

    .img-venta {
        width: 300px;
    }

    .h2-coloc {
        grid-column: 2/3;
        grid-row: 6/7;
    }

    .p-coloc {
        padding-top: 20px;
        grid-column: 2/3;
        grid-row: 7/8;
    }

    .img-coloc {
        grid-column: 2/3;
        grid-row: 8/9;
        width: 300px;
    }

    .h2-ases {
        grid-column: 2/3;
        grid-row: 9/10;
    }

    .p-ases {
        padding-top: 20px;
        grid-column: 2/3;
        grid-row: 10/11;
    }

    .img-ases {
        grid-column: 2/3;
        grid-row: 11/12;
        width: 300px;
    }

    // .col-header3 p {
    //     width: 250px;
    // }

    /* -------------------------------seccion empresa */
    .empresa {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, 1fr);
        column-gap: 0;
        height: 55vh;
        row-gap: 20px;
    }

    .empresa p {
        width: 330px;
    }

    .empresa img {
        width: 330px;
        grid-column: 2/3;
        grid-row: 5/6;
    }

    .empresa1 {
        height: 80vh;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, 1fr);
        row-gap: 30px;
    }

    .titulo {
        grid-column: 2/3;
    }

    .celda1 {
        border-right: none;
        padding-right: 0;
        padding-bottom: 20px;
        border-bottom: 3px solid rgb(103, 103, 103);
        width: 300px;
    }

    .celda1 img {
        width: 70px;
    }

    .celda2 img,
    .celda3 img {
        width: 50px;
    }

    .celda2 {
        grid-column: 2/3;
        grid-row: 4/5;
        width: 300px;
    }

    .celda3 {
        grid-column: 2/3;
        grid-row: 5/6;
        border-left: none;
        padding-left: 0;
        padding-top: 20px;
        border-top: 3px solid rgb(103, 103, 103);
        width: 300px;
    }

    .empresa2 {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }

    .empresa2 p {
        width: 330px;
    }

    .empresa2 img {
        width: 350px;
        grid-column: 2/3;
        grid-row: 5/6;
        width: 330px;
    }

    .empresa3 {
        height: 240vh;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(7, 1fr);
        column-gap: 0;
    }

    .empresa3 h2 {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .empresa3 p {
        grid-column: 2/3;
        grid-row: 3/4;
        width: 330px;
        margin-bottom: 20px;
    }

    .empresa3 video {
        height: auto;
        width: 330px;
        margin-bottom: 20px;
    }

    .vid1 {
        grid-column: 2/3;
        grid-row: 4/5;
    }

    .vid2 {
        grid-column: 2/3;
        grid-row: 5/6;
    }

    .vid3 {
        grid-column: 2/3;
        grid-row: 6/7;
    }


/* ---------------------------------------productos */
    .portada {
        height: 30vh;
        background-position: center;
    }

    .contenedor2 {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(8, 1fr);
        height: 340vh;
    }

    .carta1,
    .carta2,
    .carta3,
    .carta4,
    .carta5,
    .carta6 {
        width: 17rem;
        height: 100%;
    }

    .carta2 {
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .carta3 {
        grid-column: 2/3;
        grid-row: 4/5;
    }
        .carta4 {
        grid-column: 2/3;
        grid-row: 5/6;
    }
        .carta5 {
        grid-column: 2/3;
        grid-row: 6/7;
    }
    .carta6 {
        grid-column: 2/3;
        grid-row: 7/8;
    }
    /* -----------------------------------trabajos */    
    .contenedor {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(10, 1fr);
        height: 330vh;
    }

    .contenedor p {
        grid-column: 2/3;
    }

    .card2 {
        grid-column: 2/3;
        grid-row: 8/9;
    }

    .card4 {
        grid-column: 2/3;
        grid-row: 9/10;
    }
    .card1,
    .card2,
    .card3,
    .card4,
    .card5 {
        width: 20rem;
        height: 100%;
    }
    /* ---------------------------seccion contactos */

.contacto1 {
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: repeat(6, 1fr);
    height: 70vh;
    column-gap: 0px;
    row-gap: 20px;
    align-items: center;
}

.contacto1 p {
    grid-column: 2/3;
    grid-row: 3/4;
}
.enviar{ 
    padding: 10px 0; 
    width: 100%;
    text-align: center;
}

.contacto1 form{
    row-gap: 10px;
}


.contacto1 iframe {
    grid-column: 2/3;
    grid-row: 5/6;
}
    .contacto2 {
        height: 90vh;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, 1fr);
        column-gap: 0px;
        row-gap: 30px;
    }

    .contacto2_titulo {
        grid-column: 2/3;
    }

    .contacto2 article {
        min-width: 300px;
    }

    .contacto2_celda1 {
        grid-column: 2/3;
        grid-row: 3/4;
        border-right: none;
        padding-right: 0;
    }

    .contacto2_celda2 {
        grid-column: 2/3;
        grid-row: 4/5;
        border-right: none;
        border-bottom: 3px solid rgb(103, 103, 103);
        border-top: 3px solid rgb(103, 103, 103);
        padding-right: 0;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .contacto2_celda3 {
        grid-column: 2/3;
        grid-row: 5/6;
    }
}