@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedor, .seccion-a, .seccion-c, header, footer, .empresa1, .empresa2, .empresa3, .contacto2 {
  display: grid;
  height: auto;
  justify-items: center;
  align-items: center;
}

.contacto1 {
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, min-content);
  height: auto;
  column-gap: 50px;
  row-gap: 40px;
  padding: 70px 0 70px 0;
}
.contacto1 h1 {
  position: relative;
  color: rgb(5, 39, 79);
  grid-column: 2/3;
  grid-row: 1/2;
}
.contacto1 h1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 20%;
  height: 3px;
  background-color: rgb(227, 129, 0);
  border-radius: 2px;
}
.contacto1 p {
  color: rgb(49, 49, 49);
  grid-column: 2/3;
  grid-row: 2/3;
}
.contacto1 iframe {
  grid-column: 3/4;
  grid-row: 3/4;
  width: 100%;
  height: 100%;
  border: none;
}
.contacto1 form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column: 2/3;
  grid-row: 3/4;
  row-gap: 20px;
  align-items: center;
}
.contacto1 form .form_nombre {
  grid-column: 1/2;
  grid-row: 1/2;
}
.contacto1 form .input_nombre {
  grid-column: 2/4;
  grid-row: 1/2;
}
.contacto1 form .form_apellido {
  grid-column: 1/2;
  grid-row: 2/3;
}
.contacto1 form .input_apellido {
  grid-column: 2/4;
  grid-row: 2/3;
}
.contacto1 form .form_celular {
  grid-column: 1/2;
  grid-row: 3/4;
}
.contacto1 form .input_celular {
  grid-column: 2/4;
  grid-row: 3/4;
}
.contacto1 form .form_mail {
  grid-column: 1/2;
  grid-row: 4/5;
}
.contacto1 form .input_mail {
  grid-column: 2/4;
  grid-row: 4/5;
}
.contacto1 form .form_msj {
  grid-column: 1/2;
  grid-row: 5/6;
}
.contacto1 form .input_msj {
  grid-column: 2/4;
  grid-row: 5/6;
}
.contacto1 form .input_apellido,
.contacto1 form .input_celular,
.contacto1 form .input_mail,
.contacto1 form .input_msj,
.contacto1 form .input_nombre {
  border: none;
  border-bottom: 1px solid #b3b3b3;
  outline: none;
  background: transparent;
  padding: 5px 0;
}
.contacto1 form .enviar {
  grid-column: 1/2;
  grid-row: 6/7;
  display: block;
  background-color: rgb(227, 129, 0);
  border-radius: 10px;
  border: none;
  padding: 10px 50px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  align-content: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: color 0.5s ease;
  z-index: 1;
  font-weight: bold;
}
.contacto1 form .enviar::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 0%;
  left: -10%;
  bottom: 0;
  background: rgb(5, 39, 79);
  transition: height 1.2s ease;
  z-index: -1;
  border-radius: 50% 50% 0 0;
}
.contacto1 form .enviar:hover::before {
  height: 180%;
}
.contacto1 form label,
.contacto1 form input,
.contacto1 form textarea,
.contacto1 form button {
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
}
@media (min-width: 480px) and (max-width: 960px) {
  .contacto1 {
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: repeat(4, min-content);
    column-gap: 0px;
  }
  .contacto1 p {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .contacto1 iframe {
    grid-column: 2/3;
    grid-row: 4/5;
  }
}
@media (min-width: 300px) and (max-width: 479px) {
  .contacto1 {
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: repeat(4, min-content);
    column-gap: 0px;
    row-gap: 20px;
    align-items: center;
  }
  .contacto1 p {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .contacto1 iframe {
    grid-column: 2/3;
    grid-row: 4/5;
  }
  .contacto1 form {
    row-gap: 10px;
  }
  .contacto1 form .enviar {
    padding: 10px 0;
    width: 100%;
    text-align: center;
    font-size: 11px;
  }
  .contacto1 form label,
  .contacto1 form input {
    font-size: 11px;
  }
}

.contacto2 {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, min-content);
  column-gap: 40px;
  row-gap: 80px;
  padding: 70px 0 70px 0;
}
.contacto2 .contacto2_titulo {
  grid-column: 3/4;
  grid-row: 1/2;
  color: rgb(255, 255, 255);
  text-align: center;
  min-width: 400px;
}
.contacto2 .contacto2_titulo h2 {
  color: rgb(255, 255, 255);
}
.contacto2 .contacto2_celda1 {
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: center;
  border-right: 3px solid rgb(255, 255, 255);
  padding-right: 20px;
  min-width: 400px;
}
.contacto2 .contacto2_celda1 h2 {
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}
.contacto2 .contacto2_celda1 img {
  margin-bottom: 20px;
}
.contacto2 .contacto2_celda1 p {
  margin-bottom: 10px;
}
.contacto2 .contacto2_celda2 {
  grid-column: 3/4;
  grid-row: 2/3;
  text-align: center;
  border-right: 3px solid rgb(255, 255, 255);
  padding-right: 20px;
  min-width: 400px;
}
.contacto2 .contacto2_celda2 h2 {
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}
.contacto2 .contacto2_celda2 img {
  margin-bottom: 20px;
}
.contacto2 .contacto2_celda2 p {
  margin-bottom: 10px;
}
.contacto2 .contacto2_celda3 {
  grid-column: 4/5;
  grid-row: 2/3;
  text-align: center;
  min-width: 400px;
}
.contacto2 .contacto2_celda3 h2 {
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}
.contacto2 .contacto2_celda3 img {
  margin-bottom: 20px;
}
.contacto2 .contacto2_celda3 p {
  margin-bottom: 10px;
}
@media (min-width: 480px) and (max-width: 960px) {
  .contacto2 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, min-content);
    column-gap: 0px;
    row-gap: 70px;
  }
  .contacto2 .contacto2_titulo {
    grid-column: 2/3;
    min-width: 300px;
  }
  .contacto2 .contacto2_celda1 {
    grid-column: 2/3;
    grid-row: 2/3;
    border-right: none;
    padding-right: 0;
    min-width: 300px;
  }
  .contacto2 .contacto2_celda2 {
    grid-column: 2/3;
    grid-row: 3/4;
    border-right: none;
    border-bottom: 3px solid rgb(255, 255, 255);
    border-top: 3px solid rgb(255, 255, 255);
    padding-right: 0;
    padding-bottom: 20px;
    padding-top: 20px;
    min-width: 300px;
  }
  .contacto2 .contacto2_celda3 {
    grid-column: 2/3;
    grid-row: 4/5;
    min-width: 300px;
  }
}
@media (min-width: 300px) and (max-width: 479px) {
  .contacto2 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, min-content);
    column-gap: 0px;
    row-gap: 50px;
  }
  .contacto2 .contacto2_titulo {
    grid-column: 2/3;
    min-width: 300px;
  }
  .contacto2 .contacto2_celda1 {
    grid-column: 2/3;
    grid-row: 3/4;
    border-right: none;
    padding-right: 0;
    min-width: 300px;
  }
  .contacto2 .contacto2_celda2 {
    grid-column: 2/3;
    grid-row: 4/5;
    border-right: none;
    border-bottom: 3px solid rgb(255, 255, 255);
    border-top: 3px solid rgb(255, 255, 255);
    padding-right: 0;
    padding-bottom: 20px;
    padding-top: 20px;
    min-width: 300px;
  }
  .contacto2 .contacto2_celda3 {
    grid-column: 2/3;
    grid-row: 5/6;
    min-width: 300px;
  }
}

.empresa {
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  column-gap: 50px;
}
.empresa h1 {
  position: relative;
  display: inline-block;
  color: rgb(5, 39, 79);
  grid-column: 2/3;
  grid-row: 1/2;
}
.empresa h1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 20%;
  height: 3px;
  background-color: rgb(227, 129, 0);
  border-radius: 2px;
}
.empresa p {
  color: rgb(49, 49, 49);
  width: 380px;
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: justify;
  border-bottom: 3px solid rgb(228, 228, 228);
  padding-bottom: 60px;
}
.empresa img {
  width: 700px;
  height: auto;
  grid-column: 3/5;
  grid-row: 1/4;
}
@media (min-width: 480px) and (max-width: 960px) {
  .empresa {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, min-content);
    row-gap: 30px;
    padding: 70px 0px 70px 0px;
  }
  .empresa img {
    width: 100%;
    grid-column: 2/3;
    grid-row: 3/4;
  }
}
@media (min-width: 300px) and (max-width: 479px) {
  .empresa {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, min-content);
    column-gap: 0;
    row-gap: 20px;
    padding: 50px 0px 50px 0px;
  }
  .empresa p {
    width: 330px;
  }
  .empresa img {
    width: 100%;
    grid-column: 2/3;
    grid-row: 3/4;
  }
}

.empresa1 {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 20px;
  padding-bottom: 70px;
}
.empresa1 .titulo {
  grid-column: 3/4;
  grid-row: 1/2;
  color: rgb(255, 255, 255);
}
.empresa1 .titulo h2 {
  color: rgb(255, 255, 255);
}
.empresa1 .celda1 {
  width: 300px;
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: center;
  border-right: 3px solid rgb(228, 228, 228);
  padding-right: 20px;
}
.empresa1 .celda1 h2 {
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}
.empresa1 .celda1 img {
  margin-bottom: 20px;
}
.empresa1 .celda2 {
  width: 400px;
  grid-column: 3/4;
  grid-row: 2/3;
  text-align: center;
}
.empresa1 .celda2 h2 {
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}
.empresa1 .celda2 img {
  margin-bottom: 20px;
}
.empresa1 .celda3 {
  width: 300px;
  grid-column: 4/5;
  grid-row: 2/3;
  text-align: center;
  border-left: 3px solid rgb(228, 228, 228);
  padding-left: 20px;
}
.empresa1 .celda3 h2 {
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}
.empresa1 .celda3 img {
  margin-bottom: 20px;
}
@media (min-width: 480px) and (max-width: 960px) {
  .empresa1 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    row-gap: 50px;
    padding-bottom: 70px;
  }
  .empresa1 .titulo {
    grid-column: 2/3;
  }
  .empresa1 .celda1 {
    border-right: none;
    padding-right: 0;
    padding-bottom: 20px;
    border-bottom: 3px solid rgb(255, 255, 255);
  }
  .empresa1 .celda2 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .empresa1 .celda3 {
    grid-column: 2/3;
    grid-row: 4/5;
    border-left: none;
    padding-left: 0;
    padding-top: 20px;
    border-top: 3px solid rgb(255, 255, 255);
  }
}
@media (min-width: 300px) and (max-width: 479px) {
  .empresa1 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    row-gap: 30px;
    padding-bottom: 70px;
  }
  .empresa1 .titulo {
    grid-column: 2/3;
  }
  .empresa1 .celda1 {
    border-right: none;
    padding-right: 0;
    padding-bottom: 20px;
    border-bottom: 3px solid rgb(103, 103, 103);
    width: 300px;
  }
  .empresa1 .celda1 img {
    width: 70px;
  }
  .empresa1 .celda2 {
    grid-column: 2/3;
    grid-row: 3/4;
    width: 300px;
  }
  .empresa1 .celda2 img {
    width: 50px;
  }
  .empresa1 .celda3 {
    grid-column: 2/3;
    grid-row: 4/5;
    border-left: none;
    padding-left: 0;
    padding-top: 20px;
    border-top: 3px solid rgb(103, 103, 103);
    width: 300px;
  }
  .empresa1 .celda3 img {
    width: 50px;
  }
}

.empresa2 {
  background-color: rgb(255, 255, 255);
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 50px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.empresa2 h2 {
  position: relative;
  display: inline-block;
  color: rgb(5, 39, 79);
  grid-column: 2/3;
  grid-row: 1/2;
}
.empresa2 h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 20%;
  height: 3px;
  background-color: rgb(227, 129, 0);
  border-radius: 2px;
}
.empresa2 p {
  color: rgb(49, 49, 49);
  width: 380px;
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: justify;
  border-bottom: 3px solid rgb(228, 228, 228);
  padding-bottom: 60px;
}
.empresa2 img {
  width: 700px;
  height: auto;
  grid-column: 3/5;
  grid-row: 1/4;
}
@media (min-width: 480px) and (max-width: 960px) {
  .empresa2 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, min-content);
    row-gap: 30px;
    padding: 70px 0 70px 0;
  }
  .empresa2 img {
    width: 100%;
    grid-column: 2/3;
    grid-row: 3/4;
  }
}
@media (min-width: 300px) and (max-width: 479px) {
  .empresa2 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, min-content);
    row-gap: 30px;
    padding: 70px 0 70px 0;
  }
  .empresa2 p {
    width: 330px;
  }
  .empresa2 img {
    width: 100%;
    grid-column: 2/3;
    grid-row: 3/4;
  }
}

.empresa3 {
  background-color: rgb(228, 228, 228);
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, min-content);
  column-gap: 20px;
  row-gap: 40px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.empresa3 h2 {
  grid-column: 3/4;
  grid-row: 1/2;
  color: rgb(5, 39, 79);
}
.empresa3 p {
  grid-column: 2/5;
  grid-row: 2/3;
  color: rgb(49, 49, 49);
}
.empresa3 video {
  height: 690px;
  width: auto;
}
.empresa3 .vid1 {
  grid-column: 2/3;
  grid-row: 3/4;
}
.empresa3 .vid2 {
  grid-column: 3/4;
  grid-row: 3/4;
}
.empresa3 .vid3 {
  grid-column: 4/5;
  grid-row: 3/4;
}
@media (min-width: 480px) and (max-width: 960px) {
  .empresa3 {
    height: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, min-content);
  }
  .empresa3 h2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .empresa3 p {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .empresa3 video {
    height: auto;
    width: 350px;
  }
  .empresa3 .vid1 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .empresa3 .vid2 {
    grid-column: 2/3;
    grid-row: 4/5;
  }
  .empresa3 .vid3 {
    grid-column: 2/3;
    grid-row: 5/6;
  }
}
@media (min-width: 300px) and (max-width: 479px) {
  .empresa3 {
    height: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, min-content);
  }
  .empresa3 h2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .empresa3 p {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .empresa3 video {
    height: auto;
    width: 350px;
  }
  .empresa3 .vid1 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .empresa3 .vid2 {
    grid-column: 2/3;
    grid-row: 4/5;
  }
  .empresa3 .vid3 {
    grid-column: 2/3;
    grid-row: 5/6;
  }
}

/*--------------------------------------------FOOTER SASS*/
footer {
  grid-template-columns: repeat(5, 1fr);
  background-color: rgb(228, 228, 228);
  padding: 50px 0 50px 0;
}
footer .col-header2 {
  grid-column: 2/3;
}
footer .col-header2 .logo {
  height: auto;
  width: 10vw;
}
footer .col-header3 {
  grid-column: 3/4;
}
footer .col-header3 p {
  color: rgb(49, 49, 49);
  width: 420px;
}
footer .col-header4 {
  grid-column: 4/5;
}
footer .col-header4 .redesPadre {
  display: flex;
  gap: 10px;
}
footer .col-header4 .redesPadre li {
  list-style: none;
}
footer .col-header4 .redesPadre li img {
  height: 2vw;
  width: 2vw;
}
@media (min-width: 480px) and (max-width: 960px) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    height: 250px;
  }
  footer .col-header2 .logo {
    width: 30vw;
  }
  footer .col-header3 p {
    width: 300px;
  }
}
@media (min-width: 300px) and (max-width: 479px) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 170px;
    row-gap: 20px;
  }
  footer .col-header2 .logo {
    width: 30vw;
  }
  footer .col-header3 p {
    width: 230px;
  }
}

/*----------------------------------------------------HEADER SASS*/
header {
  grid-template-columns: repeat(5, 1fr);
  /* grid-template-areas: "logo ul"; */
  background-color: rgb(228, 228, 228);
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 50px 0 50px 0;
}
header .col-header2 {
  grid-column: 2/3;
}
header .col-header2 .logo {
  height: auto;
  width: 10vw;
}
header .col-header4 {
  grid-column: 4/5;
}
header .col-header4 .barra {
  display: flex;
  gap: 30px;
}
header .col-header4 .barra li {
  list-style: none;
}
header .col-header4 .barra li a {
  color: rgb(5, 39, 79);
}
header .col-header4 .barra li a:hover {
  color: rgb(227, 129, 0);
}
header .col-header4 .barra li:nth-child(4) {
  width: 160px;
}
@media (min-width: 480px) and (max-width: 960px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
  header .col-header2 .logo {
    width: 30vw;
  }
  header .col-header4 .barra li:nth-child(4) {
    width: 160px;
  }
}
@media (min-width: 300px) and (max-width: 479px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
  header .col-header2 .logo {
    width: 30vw;
  }
  header .col-header4 .barra li:nth-child(4) {
    width: 110px;
  }
  header .col-header4 .barra {
    gap: 15px;
  }
}

/*------------------------INDEX SASS*/
/* --------------------------------------------------------------SECCION A - home*/
.seccion-a {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(9, 1fr);
}
.seccion-a h1 {
  grid-column: 2/5;
  grid-row: 2/3;
}
.seccion-a .subtit {
  grid-column: 2/5;
  grid-row: 3/4;
}
.seccion-a .grupo1-img {
  grid-column: 2/3;
  grid-row: 5/6;
}
.seccion-a .grupo1-p {
  grid-column: 2/3;
  grid-row: 6/7;
  text-align: center;
  width: 150px;
}
.seccion-a .grupo2-img {
  grid-column: 3/4;
  grid-row: 5/6;
}
.seccion-a .grupo2-p {
  grid-column: 3/4;
  grid-row: 6/7;
  text-align: center;
  width: 150px;
}
.seccion-a .grupo3-img {
  grid-column: 4/5;
  grid-row: 5/6;
}
.seccion-a .grupo3-p {
  grid-column: 4/5;
  grid-row: 6/7;
  text-align: center;
  width: 150px;
}
.seccion-a .cta {
  grid-column: 3/4;
  grid-row: 8/9;
  display: block;
  height: 45px;
  width: 250px;
  background-color: rgb(227, 129, 0);
  border-radius: 10px;
  padding: 10px 50px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  align-content: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: color 0.5s ease;
  z-index: 1;
}
.seccion-a .cta::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 0%;
  left: -10%;
  bottom: 0;
  background: rgb(255, 255, 255);
  transition: height 1.2s ease;
  z-index: -1;
  border-radius: 50% 50% 0 0;
}
.seccion-a .cta:hover::before {
  height: 180%;
}
.seccion-a .cta:hover {
  color: rgb(227, 129, 0);
}
@media (min-width: 480px) and (max-width: 960px) {
  .seccion-a h1 {
    grid-column: 2/5;
  }
  .seccion-a .subtit {
    grid-column: 2/5;
  }
  .seccion-a .grupo1-img,
  .seccion-a .grupo2-img,
  .seccion-a .grupo3-img {
    height: 60px;
  }
  .seccion-a .grupo1-p,
  .seccion-a .grupo2-p,
  .seccion-a .grupo3-p {
    width: 70px;
  }
}
@media (min-width: 300px) and (max-width: 479px) {
  .seccion-a {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat();
    text-align: center;
    row-gap: 20px;
  }
  .seccion-a h1 {
    grid-column: 2/4;
  }
  .seccion-a .subtit {
    grid-column: 2/4;
  }
  .seccion-a .grupo1-img,
  .seccion-a .grupo2-img,
  .seccion-a .grupo3-img {
    height: 30px;
  }
  .seccion-a .grupo1-p,
  .seccion-a .grupo2-p,
  .seccion-a .grupo3-p {
    width: 150px;
  }
  .seccion-a .grupo1-img {
    grid-column: 2/3;
  }
  .seccion-a .grupo1-p {
    grid-column: 3/4;
    grid-row: 5/6;
  }
  .seccion-a .grupo2-img {
    grid-column: 2/3;
    grid-row: 6/7;
  }
  .seccion-a .grupo3-img {
    grid-column: 2/3;
    grid-row: 7/8;
  }
  .seccion-a .grupo3-p {
    grid-column: 3/4;
    grid-row: 7/8;
  }
  .seccion-a .cta {
    grid-column: 2/4;
    height: 30px;
    width: 200px;
    text-align: center;
  }
}

/* --------------------------------------------------------------SECCION B - home*/
.seccion-b {
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  justify-items: center;
  align-items: center;
  row-gap: 20px;
}
.seccion-b h2 {
  position: relative;
  color: rgb(5, 39, 79);
  grid-column: 3/4;
  grid-row: 2/3;
}
.seccion-b h2::after {
  content: "";
  position: absolute;
  left: 30%;
  bottom: -8px;
  width: 40%;
  height: 3px;
  background-color: rgb(5, 39, 79);
  border-radius: 2px;
}
.seccion-b .img1 {
  height: 90px;
  grid-column: 2/3;
  grid-row: 4/5;
}
.seccion-b .img2 {
  height: 90px;
  grid-column: 2/3;
  grid-row: 5/6;
}
.seccion-b .img3 {
  height: 90px;
  grid-column: 3/4;
  grid-row: 4/5;
}
.seccion-b .img4 {
  height: 90px;
  grid-column: 3/4;
  grid-row: 5/6;
}
.seccion-b .img5 {
  height: 90px;
  grid-column: 4/5;
  grid-row: 4/5;
}
.seccion-b .img6 {
  height: 90px;
  grid-column: 4/5;
  grid-row: 5/6;
}
@media (min-width: 480px) and (max-width: 960px) {
  .seccion-b {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    column-gap: 30px;
  }
  .seccion-b h2 {
    grid-column: 2/4;
  }
  .seccion-b .img1,
  .seccion-b .img2,
  .seccion-b .img3,
  .seccion-b .img4,
  .seccion-b .img5,
  .seccion-b .img6 {
    height: 50px;
  }
  .seccion-b .img1 {
    grid-column: 2/3;
  }
  .seccion-b .img2 {
    grid-column: 3/4;
    grid-row: 4/5;
  }
  .seccion-b .img3 {
    grid-column: 3/4;
    grid-row: 5/6;
  }
  .seccion-b .img4 {
    grid-column: 2/3;
    grid-row: 5/6;
  }
  .seccion-b .img5 {
    grid-column: 2/3;
    grid-row: 6/7;
  }
  .seccion-b .img6 {
    grid-column: 3/4;
    grid-row: 6/7;
  }
}
@media (min-width: 300px) and (max-width: 479px) {
  .seccion-b {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    column-gap: 30px;
  }
  .seccion-b h2 {
    grid-column: 2/4;
  }
  .seccion-b .img1,
  .seccion-b .img2,
  .seccion-b .img3,
  .seccion-b .img4,
  .seccion-b .img5,
  .seccion-b .img6 {
    height: 40px;
  }
  .seccion-b .img1 {
    grid-column: 2/3;
  }
  .seccion-b .img2 {
    grid-column: 3/4;
    grid-row: 4/5;
  }
  .seccion-b .img3 {
    grid-column: 3/4;
    grid-row: 5/6;
  }
  .seccion-b .img4 {
    grid-column: 2/3;
    grid-row: 5/6;
  }
  .seccion-b .img5 {
    grid-column: 2/3;
    grid-row: 6/7;
  }
  .seccion-b .img6 {
    grid-column: 3/4;
    grid-row: 6/7;
  }
}

/* --------------------------------------------------------------SECCION C - home*/
.seccion-c {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 150px min-content min-content min-content;
  column-gap: 50px;
  row-gap: 20px;
  text-align: justify;
  padding: 0 0 70px 0;
}
.seccion-c .serv {
  color: rgb(255, 255, 255);
  position: relative;
  grid-column: 3/4;
  grid-row: 1/2;
}
.seccion-c .serv::after {
  content: "";
  position: absolute;
  left: 30%;
  bottom: -8px;
  width: 40%;
  height: 3px;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
}
.seccion-c .h2-venta {
  color: rgb(255, 255, 255);
  grid-column: 2/3;
  grid-row: 2/3;
}
.seccion-c .p-venta {
  border-top: 3px solid rgb(227, 129, 0);
  padding-top: 50px;
  grid-column: 2/3;
  grid-row: 3/4;
}
.seccion-c .img-venta {
  grid-column: 2/3;
  grid-row: 4/5;
}
.seccion-c .h2-coloc {
  color: rgb(255, 255, 255);
  grid-column: 3/4;
  grid-row: 2/3;
}
.seccion-c .p-coloc {
  border-top: 3px solid rgb(227, 129, 0);
  padding-top: 50px;
  grid-column: 3/4;
  grid-row: 3/4;
}
.seccion-c .img-coloc {
  grid-column: 3/4;
  grid-row: 4/5;
}
.seccion-c .h2-ases {
  color: rgb(255, 255, 255);
  grid-column: 4/5;
  grid-row: 2/3;
}
.seccion-c .p-ases {
  border-top: 3px solid rgb(227, 129, 0);
  padding-top: 50px;
  grid-column: 4/5;
  grid-row: 3/4;
}
.seccion-c .img-ases {
  grid-column: 4/5;
  grid-row: 4/5;
}
@media (min-width: 480px) and (max-width: 960px) {
  .seccion-c {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 150px min-content min-content min-content min-content min-content min-content min-content min-content min-content;
    row-gap: 30px;
  }
  .seccion-c .serv {
    grid-column: 2/3;
  }
  .seccion-c .p-venta {
    padding-top: 20px;
  }
  .seccion-c .h2-coloc {
    grid-column: 2/3;
    grid-row: 5/6;
  }
  .seccion-c .p-coloc {
    padding-top: 20px;
    grid-column: 2/3;
    grid-row: 6/7;
  }
  .seccion-c .img-coloc {
    grid-column: 2/3;
    grid-row: 7/8;
  }
  .seccion-c .h2-ases {
    grid-column: 2/3;
    grid-row: 8/9;
  }
  .seccion-c .p-ases {
    padding-top: 20px;
    grid-column: 2/3;
    grid-row: 9/10;
  }
  .seccion-c .img-ases {
    grid-column: 2/3;
    grid-row: 10/11;
  }
}
@media (min-width: 300px) and (max-width: 479px) {
  .seccion-c {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 150px min-content min-content min-content min-content min-content min-content min-content min-content min-content;
    row-gap: 20px;
  }
  .seccion-c .serv {
    grid-column: 2/3;
  }
  .seccion-c .h2-venta {
    grid-column: 2/3;
  }
  .seccion-c .p-venta {
    padding-top: 20px;
  }
  .seccion-c .img-venta {
    width: 300px;
  }
  .seccion-c .h2-coloc {
    grid-column: 2/3;
    grid-row: 5/6;
  }
  .seccion-c .p-coloc {
    padding-top: 20px;
    grid-column: 2/3;
    grid-row: 6/7;
  }
  .seccion-c .img-coloc {
    grid-column: 2/3;
    grid-row: 7/8;
    width: 300px;
  }
  .seccion-c .h2-ases {
    grid-column: 2/3;
    grid-row: 8/9;
  }
  .seccion-c .p-ases {
    padding-top: 20px;
    grid-column: 2/3;
    grid-row: 9/10;
  }
  .seccion-c .img-ases {
    grid-column: 2/3;
    grid-row: 10/11;
    width: 300px;
  }
}

.portada {
  height: auto;
  width: 100%;
  background: linear-gradient(to right, rgb(255, 255, 255) 35%, rgba(255, 255, 255, 0.9) 40%, rgba(255, 255, 255, 0.5) 50%, transparent 65%), url(../assets/empresa/negocio5.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40% 60%;
  display: grid;
  grid-template-columns: 20% 1fr 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
  max-width: 100vw;
  box-sizing: border-box;
  overflow: hidden;
}
.portada h1 {
  position: relative;
  grid-column: 2/3;
  grid-row: 2/3;
  color: rgb(5, 39, 79);
}
.portada h1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 20%;
  height: 3px;
  background-color: rgb(227, 129, 0);
  border-radius: 2px;
}
.portada p {
  grid-column: 2/3;
  grid-row: 3/4;
  color: rgb(49, 49, 49);
}

.contenedor2 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: auto;
  gap: 20px;
  padding: 70px 0 70px 0;
}
.contenedor2 .carta1 {
  grid-column: 2/3;
  grid-row: 1/2;
  width: 100%;
}
.contenedor2 .carta1 .card-img-top {
  width: 100%;
  height: 350px;
  object-fit: cover;
  object-position: center;
  padding: 0;
}
.contenedor2 .carta1 .card-body h5 {
  color: rgb(49, 49, 49);
}
.contenedor2 .carta2 {
  grid-column: 3/4;
  grid-row: 1/2;
  width: 100%;
}
.contenedor2 .carta2 .card-img-top {
  width: 100%;
  height: 350px;
  object-fit: cover;
  object-position: center;
  padding: 0;
}
.contenedor2 .carta2 .card-body h5 {
  color: rgb(49, 49, 49);
}
.contenedor2 .carta3 {
  grid-column: 4/5;
  grid-row: 1/2;
  width: 100%;
}
.contenedor2 .carta3 .card-img-top {
  width: 100%;
  height: 350px;
  object-fit: cover;
  object-position: center;
  padding: 0;
}
.contenedor2 .carta3 .card-body h5 {
  color: rgb(49, 49, 49);
}
.contenedor2 .carta4 {
  grid-column: 2/3;
  grid-row: 2/3;
  width: 100%;
}
.contenedor2 .carta4 .card-img-top {
  width: 100%;
  height: 350px;
  object-fit: cover;
  object-position: center;
  padding: 0;
}
.contenedor2 .carta4 .card-body h5 {
  color: rgb(49, 49, 49);
}
.contenedor2 .carta5 {
  grid-column: 3/4;
  grid-row: 2/3;
  width: 100%;
}
.contenedor2 .carta5 .card-img-top {
  width: 100%;
  height: 350px;
  object-fit: cover;
  object-position: center;
  padding: 0;
}
.contenedor2 .carta5 .card-body h5 {
  color: rgb(49, 49, 49);
}
.contenedor2 .carta6 {
  grid-column: 4/5;
  grid-row: 2/3;
  width: 100%;
}
.contenedor2 .carta6 .card-img-top {
  width: 100%;
  height: 350px;
  object-fit: cover;
  object-position: center;
  padding: 0;
}
.contenedor2 .carta6 .card-body h5 {
  color: rgb(49, 49, 49);
}
@media (min-width: 480px) and (max-width: 960px) {
  .contenedor2 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 70px 70px 70px 70px;
  }
  .contenedor2 .carta1 {
    grid-column: 1/2;
  }
  .contenedor2 .carta2 {
    grid-column: 2/3;
  }
  .contenedor2 .carta3 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .contenedor2 .carta4 {
    grid-column: 2/3;
  }
  .contenedor2 .carta5 {
    grid-column: 1/2;
  }
  .contenedor2 .carta6 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
}
@media (min-width: 300px) and (max-width: 479px) {
  .contenedor2 {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    padding: 70px 70px 70px 70px;
  }
  .contenedor2 .carta1 {
    grid-column: 1;
    grid-row: 1/2;
  }
  .contenedor2 .carta2 {
    grid-column: 1;
    grid-row: 2/3;
  }
  .contenedor2 .carta3 {
    grid-column: 1;
    grid-row: 3/4;
  }
  .contenedor2 .carta4 {
    grid-column: 1;
    grid-row: 4/5;
  }
  .contenedor2 .carta5 {
    grid-column: 1;
    grid-row: 5/6;
  }
  .contenedor2 .carta6 {
    grid-column: 1;
    grid-row: 6/7;
  }
}

.contenedor {
  background-color: rgb(255, 255, 255);
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, min-content);
  gap: 30px;
  padding: 70px 0 70px 0;
}
.contenedor h1 {
  position: relative;
  grid-column: 2/3;
  grid-row: 1/2;
  color: rgb(5, 39, 79);
  width: 100%;
}
.contenedor h1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 20%;
  height: 3px;
  background-color: rgb(227, 129, 0);
  border-radius: 2px;
}
.contenedor .p1 {
  grid-column: 2/3;
  grid-row: 2/3;
  color: rgb(49, 49, 49);
  width: 100%;
}
.contenedor .p2 {
  grid-column: 2/4;
  grid-row: 3/4;
  color: rgb(49, 49, 49);
}
.contenedor .card {
  width: 30rem;
  border: none;
  border-radius: 12px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
}
.contenedor .card p {
  color: rgb(49, 49, 49);
}
.contenedor .card:hover {
  transform: translateY(-5px);
}
.contenedor .card1 {
  grid-column: 2/3;
  grid-row: 4/5;
}
.contenedor .card1 .position-relative .card-img-top {
  width: 100%;
  height: 400px;
  object-fit: cover;
  /*hace q no se deforme la imagen*/
  padding: 20px;
}
.contenedor .card1 .position-relative .etiqueta-localidad {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 30px;
  left: 20px;
  background-color: rgb(5, 39, 79);
  padding: 6px 40px;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 1.2rem;
  z-index: 10;
  /* sobre la imagen */
}
.contenedor .card1 .card-body .btn {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(227, 129, 0);
  color: rgb(227, 129, 0);
}
.contenedor .card1 .card-body .btn:hover {
  background-color: rgb(227, 129, 0);
  color: rgb(255, 255, 255);
  border-color: rgb(227, 129, 0);
}
.contenedor .card2 {
  grid-column: 3/4;
  grid-row: 4/5;
}
.contenedor .card2 .position-relative .card-img-top {
  width: 100%;
  height: 400px;
  object-fit: cover;
  /*hace q no se deforme la imagen*/
  padding: 20px;
}
.contenedor .card2 .position-relative .etiqueta-localidad {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 30px;
  left: 20px;
  background-color: rgb(5, 39, 79);
  padding: 6px 40px;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 1.2rem;
  z-index: 10;
  /* sobre la imagen */
}
.contenedor .card2 .card-body .btn {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(227, 129, 0);
  color: rgb(227, 129, 0);
}
.contenedor .card2 .card-body .btn:hover {
  background-color: rgb(227, 129, 0);
  color: rgb(255, 255, 255);
  border-color: rgb(227, 129, 0);
}
.contenedor .card3 {
  grid-column: 2/3;
  grid-row: 5/6;
}
.contenedor .card3 .position-relative .card-img-top {
  width: 100%;
  height: 400px;
  object-fit: cover;
  /*hace q no se deforme la imagen*/
  padding: 20px;
}
.contenedor .card3 .position-relative .etiqueta-localidad {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 30px;
  left: 20px;
  background-color: rgb(5, 39, 79);
  padding: 6px 40px;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 1.2rem;
  z-index: 10;
  /* sobre la imagen */
}
.contenedor .card3 .card-body .btn {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(227, 129, 0);
  color: rgb(227, 129, 0);
}
.contenedor .card3 .card-body .btn:hover {
  background-color: rgb(227, 129, 0);
  color: rgb(255, 255, 255);
  border-color: rgb(227, 129, 0);
}
.contenedor .card4 {
  grid-column: 3/4;
  grid-row: 5/6;
}
.contenedor .card4 .position-relative .card-img-top {
  width: 100%;
  height: 400px;
  object-fit: cover;
  /*hace q no se deforme la imagen*/
  padding: 20px;
}
.contenedor .card4 .position-relative .etiqueta-localidad {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 30px;
  left: 20px;
  background-color: rgb(5, 39, 79);
  padding: 6px 40px;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 1.2rem;
  z-index: 10;
  /* sobre la imagen */
}
.contenedor .card4 .card-body .btn {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(227, 129, 0);
  color: rgb(227, 129, 0);
}
.contenedor .card4 .card-body .btn:hover {
  background-color: rgb(227, 129, 0);
  color: rgb(255, 255, 255);
  border-color: rgb(227, 129, 0);
}
.contenedor .card5 {
  grid-column: 2/3;
  grid-row: 6/7;
}
.contenedor .card5 .position-relative .card-img-top {
  width: 100%;
  height: 400px;
  object-fit: cover;
  /*hace q no se deforme la imagen*/
  padding: 20px;
}
.contenedor .card5 .position-relative .etiqueta-localidad {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 30px;
  left: 20px;
  background-color: rgb(5, 39, 79);
  padding: 6px 40px;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 1.2rem;
  z-index: 10;
  /* sobre la imagen */
}
.contenedor .card5 .card-body .btn {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(227, 129, 0);
  color: rgb(227, 129, 0);
}
.contenedor .card5 .card-body .btn:hover {
  background-color: rgb(227, 129, 0);
  color: rgb(255, 255, 255);
  border-color: rgb(227, 129, 0);
}
@media (min-width: 480px) and (max-width: 960px) {
  .contenedor {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, min-content);
    height: auto;
  }
  .contenedor .p1 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .contenedor .p2 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .contenedor .card1 {
    grid-column: 2/3;
    grid-row: 4/5;
  }
  .contenedor .card2 {
    grid-column: 2/3;
    grid-row: 5/6;
  }
  .contenedor .card3 {
    grid-column: 2/3;
    grid-row: 6/7;
  }
  .contenedor .card4 {
    grid-column: 2/3;
    grid-row: 7/8;
  }
  .contenedor .card5 {
    grid-column: 2/3;
    grid-row: 8/9;
  }
}
@media (min-width: 300px) and (max-width: 479px) {
  .contenedor {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, min-content);
  }
  .contenedor .p1 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .contenedor .p2 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .contenedor .card1 {
    grid-column: 2/3;
    grid-row: 4/5;
    width: 20rem;
    height: 100%;
  }
  .contenedor .card2 {
    grid-column: 2/3;
    grid-row: 5/6;
    width: 20rem;
    height: 100%;
  }
  .contenedor .card3 {
    grid-column: 2/3;
    grid-row: 6/7;
    width: 20rem;
    height: 100%;
  }
  .contenedor .card4 {
    grid-column: 2/3;
    grid-row: 7/8;
    width: 20rem;
    height: 100%;
  }
  .contenedor .card5 {
    grid-column: 2/3;
    grid-row: 8/9;
    width: 20rem;
    height: 100%;
  }
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*---------------aspectos generales que comparte toda la web*/
body {
  background-color: rgb(5, 39, 79);
}

h1 {
  font-family: Libre Baskerville, serif;
  color: rgb(255, 255, 255);
  font-size: 32px;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  color: rgb(255, 255, 255);
}

h2,
a {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}

h5 {
  font-family: Montserrat, sans-serif;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.wpp {
  position: fixed;
  height: 7vh;
  width: auto;
  bottom: 200px;
  right: 50px;
}

@media (min-width: 480px) and (max-width: 960px) {
  .wpp {
    z-index: 10;
    height: 6vh;
  }
  h1 {
    font-size: 24px;
  }
}
@media (min-width: 300px) and (max-width: 479px) {
  h1 {
    font-size: 14px;
  }
  h2, h5 {
    font-size: 12px;
  }
  p,
  a, button {
    font-size: 10px;
  }
  .wpp {
    z-index: 10;
    height: 5vh;
  }
}

/*# sourceMappingURL=styles.css.map */
